
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background-image: url("Resources/background.jpg");
	 background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 4px rgba(55, 54, 54, 0.5);
  }
.container_01{
    margin: 120px auto;
    width: 950px;  
    justify-content: center; 
}
.toolbar{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color:#065D64;
    border-radius: 5px;
    justify-content: center;
    gap: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;   
}
button{
    border: none;
    background: none;
    height: 45px;  


}
button:hover{
    background: #0376AC;
}
.text_area {
    padding: 20px;
    max-width: 950px;
    margin: 10px auto;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

